<!DOCTYPE html>

<html>
    <head>
   
     <title>About</title>
          <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content"> {{>header}}
        <p>this site was created by oussama , it uses data from mapbox.com and darsky.net</p>
        <img class="portrait" src="/img/wtc.png"/></div>
        {{>footer}}
    </body>
     
</html>